{% extends 'base.html' %}

{% block title %} Щоденник {% endblock %}


{% block content %}

    <style>
        .center {
        position: absolute;
        width: 400px; 
        height: 300px; 
        left: 50%; 
        top: 50%; 
        margin-left: -211px; 
        margin-top: -150px;	
        }
    </style>

    <div class="center" ><a href="{% url 'edit-page' %}">Зробіть свою першу нотатку!</a></div>

    <h1 class="mt-4">Плани на:</h1>
    <ul class="list-group">
        {% for task in tasks %}

            {% if request.user == task.author %}
                <li class="list-group-item"><a href="{{ task.get_url }}">{{task.day}}</a> <h3>(Остання зміна: {{task.date|date:'Y-m-d'}})</h3>
                </li>
            {% endif %}

        {% endfor %}
    </ul>

{% endblock %}