{% extends 'base.html' %}
{% load static %}

{% block title %} Окно редактирования {% endblock %}


{% block content %}

    <h2 class="mt-4">Создать/Изменить/Удалить планы на {{example.day}}:</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Добавить новую заметку
</button>

    {% if success %}
      <p style="color:red">Заметка добавлена</p>
    {% endif %}

    {% if success_update %}
      <p style="color:red">Заметка обновлена</p>
    {% endif %}

  {% if update %}
    <p class="mt-3">Страница редактирования</p>
    <form id="update_data" method="post">
      {{ form }}
    </form>
    <button form="update_data" type="submit" class="btn btn-primary">Обновить</button>
  {% else %}
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">День</th>
      <th scope="col">Дата последнего изменения</th>
      <th scope="col">Задача</th>
      <th scope="col">Редактирование</th>
      <th scope="col">Удаление</th>
    </tr>
  </thead>
  <tbody>
    {% for i in example %}
    <tr>
      <th>{{ i.id }}</th>
      <td>{{ i.day }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.task }}</td>
      <td><a href="{% url 'update-page' i.id %}">редактиовать</a></td>
      <td><a href="{% url 'delete-page' i.id %}">удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  {% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add_form" method="post">
          {{ form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button form="add_form" type="submit" class="btn btn-primary">Добавить заметку</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}